<!DOCTYPE html>
<html>
<head>
  <title>File Upload Application</title>
  <link rel='stylesheet' href='/stylesheets/mainPageStyle.css' />
</head>
<body>
<header>
  <h1>File Upload Application</h1>
  <p>Author by Lu Zheng</p>
</header>

<section id="buttonSec">
  <input type="file" id="uploadFile">
  <button id="upload" onclick="uploadFunction()">upload</button>
</section>

<section id="fileListSec">
  <!--<p><%= filesList %></p>-->
  <ul id="fileLists">
      <% for(var i=0; i< filesList.filesName.length; i++) {%>
          <li>
            file:<%= filesList.filesName[i]%>
            <a href="<%= filesList.filesPath[i]%>"><%= filesList.filesPath[i]%></a>
          </li>
      <% } %>
  </ul>
</section>


<script type="text/javascript" src="/javascripts/external/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/mainPage.js"></script>
</body>
</html>
